<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <img width="60" alt="Angular Logo" routerLink="" routerLinkActive="active"
      src="http://credban.com.br/imagens/img_servpublico.png">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">System Works</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/adicionar" routerLinkActive="active">Empregados</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista" routerLinkActive="active">Lista</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" src="https://www.youtube.com/watch?v=arGRTVdG--c&t=2304s"  target="_blank"  routerLinkActive="active">Fonte do youtube</a>
          </li>
       </ul>
      <span class="navbar-text"  routerLink="" routerLinkActive="active">
        Sair
      </span>
    </div>
  </nav>